<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">SHRINKIT</a>
            <ul class="hide-on-med-and-down right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="javascript:lgout()">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>