<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">SHRINKIT</a>
            <ul class="hide-on-med-and-down right">
                <li><a href="/login">Login</a></li>
                <li><a href="/newUser">Sign Up</a></li>
                <li><a href="mailto:foo@gmail.com">OKAC</a></li>
            </ul>
            <a href="#" class="sidenav-trigger" data-target="mobSide"><i class="material-icons">menu</i></a>
            <ul class="sidenav" id="mobSide">
                <li><a href="/login">Login</a></li>
                <li><a href="/newUser">Sign Up</a></li>
                <li><a href="mailto:foo@gmail.com">OKAC</a></li>
            </ul>
        </div>
    </div>
</nav>