<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">SHRINKIT</a>
            <ul class="hide-on-med-and-down right">
                <li><a href="/login">Login</a></li>
                <li><a href="/newUser">Sign Up</a></li>
                <li><a href="mailto:foo@gmail.com">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>